API_ID=
API_HASH=
BOT_TOKEN=
STRING_SESSION=
OWNER_ID=
OWNER_USERNAME=KARTIK_NISHAD_3
LOGGER_ID=-1002309569603
MONGO_DB_URI=
SUPPORT_CHANNEL=https://t.me/ye_duniya_ek_sapna_he
SUPPORT_CHAT=https://t.me/+M5ApQJTxdxgxMDg1
BOT_NAME=Tanu Music
START_IMG=
PING_IMG=
DEFAULT_THUMB=
RADIO_IMG=
COOKIE_URL=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
QUEUE_LIMIT=20
VIDEO_MAX_HEIGHT=480
AUTO_LEAVE=False
