API_ID=
API_HASH=
BOT_TOKEN=
STRING_SESSION=
MONGO_DB_URI=
LOGGER_ID=
OWNER_ID=
OWNER_USERNAME=KARTIK_NISHAD_3
BOT_NAME=Tanu Music
SUPPORT_CHANNEL=https://t.me/ye_duniya_ek_sapna_he
SUPPORT_CHAT=https://t.me/+M5ApQJTxdxgxMDg1
COOKIE_URL=
